*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

.back{
    background-color: black;
    /* display: flex; */
}

.banner{
    background-image: url('../img/madmax.jpg');  
    background-attachment: fixed; 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}


.banner__logo{
    margin: auto;
    width: 960px;

}

.banner__logo__img{
    margin: 100px 0 20px 0;
}

.banner__descricao{
    background-color: rgb(0, 0, 0, 0.5);
    width: 500px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;

}

.slides{
        margin: 40px auto;
        width: 200px;
    
}

.filmes{
    margin: auto;
    margin-top: 25px;
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.filmes__img{
    width: 230px;
}

.detalhe__filme{
    margin: 30px auto;
    width: 1000px;
    display: flex;
}

.detalhe__filme__descricao{
    margin: 60px auto auto 60px;
    color: white;
}

.tela_login{
    background-color: #212529;
    position: relative;
    width: 450px;
    height: 450px;
    margin: 10% auto;

} 

.login__group{
    width: 350px;
    margin: auto;
    padding: 55px 0;
    
}

.tela_login_titulo{
    color: white;
}  


.login__titulo{
    color: white;
}

.botao_entrar{
    margin: 50px 0 0 0;
}

